@model _04.WorkingWithData.Web.ViewModels.TweetViewModel

<div class="well">
    <div class="media">
        <div class="media-body">
            <p>
                Tags:
                @foreach (var tag in Model.Tags)
                {
                    @Html.ActionLink(" #" + @tag.Name, "ByTag", "Tweets", new { tag = @tag.Name }, null)
                }
            </p>
            <p class="text-right">By: <strong>@Model.Username</strong></p>
            <p>
                @Model.Content
            </p>
            <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i> @Model.CreatedOn</span></li>
            </ul>
        </div>
    </div>
</div>