@model IEnumerable<_03.AjaxWithMvc.Models.Movie>

<div id="allMoviesContainer">

    @foreach (var movie in Model)
    {
        <div class="row">
            <div class="col-md-2">
                @Ajax.ActionLink(movie.Title, "MovieDetails", new { id = movie.Id },
           new AjaxOptions
           {
               HttpMethod = "GET",
               UpdateTargetId = "movie-details",
               InsertionMode = InsertionMode.Replace,
               OnComplete = "ShowMovieDetails"
           }
           )
            </div>
            <div class="col-md-2">@movie.Year</div>
            <div class="col-md-2">@movie.Studio.Name</div>
            <div class="col-md-2">
                @Ajax.ActionLink("Edit", "EditMovie", new { id = movie.Id },
           new AjaxOptions
           {
               HttpMethod = "GET",
               UpdateTargetId = "movie-edit-" + movie.Id,
               InsertionMode = InsertionMode.Replace,
           },
           new { @class = "btn btn-default" }
           )
            </div>
            <div class="col-md-2">
                @Ajax.ActionLink("Delete", "DeleteMovie", new { id = movie.Id },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "allMoviesContainer",
                    InsertionMode = InsertionMode.Replace
                },
                new { @class = "btn btn-danger" }
                )
            </div>
        </div>
        <div id="movie-edit-@movie.Id" class="row edit-movie-partial"></div>
    }

    <div id="movie-details" class="modal fade" role="dialog"></div>

    <div class="row">
        @Ajax.ActionLink("Add New Movie", "AddMovie", null,
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "add-movie-partial",
                    InsertionMode = InsertionMode.Replace,
                    OnComplete = "ShowAddMoviePartial"
                },
                new { @class = "btn btn-danger" }
                )
        <div class="modal fade" id="add-movie-partial" role="dialog"></div>

        </div>
</div>

<script>
    function ShowMovieDetails() {
        $("#movie-details").modal('toggle');
    }

    function ShowAddMoviePartial() {
        $("#add-movie-partial").modal('toggle');
    }
</script>
